@mixin container {
  .container {
    max-width: 1340px;
    margin: 0 auto;

    @content;
  }
}

@mixin media1440 { @media (max-width: 1440px) { @content; }}
@mixin media1280 { @media (max-width: 1280px) { @content; }}
@mixin media1024 { @media (max-width: 1024px) { @content; }}
@mixin media768 { @media (max-width: 768px) { @content; }}
@mixin media425 { @media (max-width: 425px) { @content; }}

@mixin input {
  .input {
    width: 353px;
    height: 28px;
    padding: 2px 10px;

    font-size: 18px;
    line-height: 26px;
    color: $white;
    background: $text;
    outline: none;
    
    border: none;
    border-bottom: 1px solid $gray;
    transition: border .2s;

    &::placeholder {
      transition: color .2s;
    }

    &:focus {
      border-bottom-color: $blue;
      caret-color: $white;

      &::placeholder {
        color: transparent;
      }
    }

    @include media1280 {
      width: 280px;
    }
    @include media1024 {
      width: 100%;
      max-width: 280px;
    }
    @include media768 {
      max-width: unset;
    }
  }
}

@mixin subscribe-button {
  .subscribe-button {
    width: 223px;
    max-width: 223px;
    height: 46px;
    
    font-size: 18px;
    line-height: 26px;
    color: $white;
    
    background: $blue;
    border-radius: 2px;
    border: none;

    transition: background .2s;
    cursor: pointer;

    &:hover {
      background: transparent;
      border: 1px solid $blue;
    }

    @include media1280 {
      width: 180px;
    }
    @include media1024 {
      width: 100%;
      max-width: 180px;
    }
    @include media768 {
      max-width: 223px;
    }
  }
}
